<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Songs on the playlist:</h1>

    {% for song_name in songs_names %}
    <p>{{ song_name }}</p>
    {% endfor %}

    <form action="{{ url_for('download') }}">
        <input type="submit" value="Download all songs">
    </form>
    
</body>
</html>